*{
	transition: all .3s ease-in;
	padding: 0;
	margin: 0;
}
body{
	overflow-x: hidden;
}
.card {
	margin: 16px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hero-image{
	background-image: url("forms/uploads/hero_image.jpg");
	background-size: cover;
	background-attachment: fixed;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}
.padding{
	width: 100vw;
	height: 50vh;
}
.back_blend{
	background-blend-mode: multiply;
	/* nomal,multiply,screen,overlay,
	darken,lighten,color-dodge,saturation,
	color,luminosity */
}
.text_blend{
	mix-blend-mode: exclusion;
/* nomal,multiply,screen,overlay,
	darken,lighten,color-dodge,saturation,
	color,luminosity,difference */
}